.profile-img .image-box {
    height: 18.3rem;
    width: 18.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

.profile-img label {
    cursor: pointer;
}

.profile-img label>.camera-box>i.fa-camera {
    font-size: 15px;
    color: #DC0100;
}
