<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title" *ngIf="type == 'add'">ADD SUPPLIER</h4>
    <h4 class="modal-title" *ngIf="type == 'edit'">EDIT SUPPLIER</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
    <div class="row" *ngIf="type=='add'">
        <div class="col-md-6">
            <div class="input-style mb-2">
                <label class="d-block">Name<span class="text-danger">*</span></label>
                <input type="text" class="ctm-input" placeholder="Muhammad" [(ngModel)]="newSupplier.name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-style mb-2">
                <label class="d-block">Phone<span class="text-danger">*</span></label>
                <input type="text" class="ctm-input" placeholder="01234 567890" [(ngModel)]="newSupplier.phone_no">
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-style mb-2">
                <label class="d-block">Email<span class="text-danger">*</span></label>
                <input type="email" class="ctm-input" placeholder="abc@mail.com" [(ngModel)]="newSupplier.email">
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-style mb-2">
                <label class="d-block">Products<span class="text-danger">*</span></label>
                <input type="text" class="ctm-input" placeholder="Products" [(ngModel)]="newSupplier.products">
            </div>
        </div>
    </div>
    <div class="row" *ngIf="type =='edit'">
        <div class="col-md-6">
            <div class="input-style mb-2">
                <label class="d-block">Name<span class="text-danger">*</span></label>
                <input type="text" class="ctm-input" placeholder="Muhammad" [(ngModel)]="supplier.name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-style mb-2">
                <label class="d-block">Phone<span class="text-danger">*</span></label>
                <input type="text" class="ctm-input" placeholder="01234 567890" [(ngModel)]="supplier.phone_no">
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-style mb-2">
                <label class="d-block">Email<span class="text-danger">*</span></label>
                <input type="email" class="ctm-input" placeholder="abc@mail.com" [(ngModel)]="supplier.email">
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-style mb-2">
                <label class="d-block">Products<span class="text-danger">*</span></label>
                <input type="text" class="ctm-input" placeholder="Products" [(ngModel)]="supplier.products">
            </div>
        </div>
    </div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
    <div class="d-flex align-items-center justify-content-center w-100">
        <a href="javascript:void(0)" class="discard-btn" (click)="cancel()">Discard</a>
        <a href="javascript:void(0)" class="add-btn" (click)="addSupplier()" *ngIf="type == 'add'">Add</a>
        <a href="javascript:void(0)" class="add-btn" (click)="updateSupplier()" *ngIf="type == 'edit'">Update</a>
    </div>
</div>
