<div class="dashboard-main">
    <div class="dashboard-content">
        <div class="d-flex align-items-center mb-16 justify-content-between mr-70">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a class="breadcrumb-link " href="javascript:void(0)">FSC</a></li>

                <li class=" breadcrumb-item"><a class="breadcrumb-link" href="javascript:void(0)">PURCHASE ORDER</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-link active" href="javascript:void(0)">Week {{ dateToday | date:'ww' }}</a></li>
            </ul>
            <div class="d-flex">
                <a class="secondary-sup" href="javascript:void(0)" (click)="addPurchaseOrder()">
                    <i class="plus" data-feather="plus"></i> New FSC ORDER</a>
                <a class="credit-check" data-toggle="modal" data-target="#Download" href="#Download" href="javascript:void(0)">
                    <i class="download" data-feather="download"></i> Download Data</a>
            </div>
        </div>
        <div class="roles-main delivery-list-table">
            <div class="d-flex align-items-center justify-content-between delivery-list-main">
                <div class="d-flex for-media-setts">
                    <div class="form-group sear-bar-roles position-relative mb-0">
                        <input type="search" class="form-control form-control-roles" placeholder="Search.." id="email" (input)="searchOrder('search')" [(ngModel)]="searchParams.search">
                        <i-feather class="search-ctm" name="search"></i-feather>
                    </div>
                    <div class="search-inputs d-flex">
                        <div class="input-style mr-10">

                            <div class="type-pass">
                                <input type="date" class="ctm-input" placeholder="From" [(ngModel)]="searchParams.start_date" (change)="searchOrder('date')">
                                <div class="icon-eye d-flex align-items-center justify-content-center">
                                    <i-feather class="calender" name="calendar"></i-feather>
                                </div>
                            </div>
                        </div>
                        <div class="input-style mr-10">

                            <div class="type-pass">
                                <input type="date" class="ctm-input" placeholder="To" [(ngModel)]="searchParams.end_date" [disabled]="!searchParams.start_date" [min]="searchParams.start_date" [(ngModel)]="searchParams.end_date" (change)="searchOrder('date')">
                                <div class="icon-eye d-flex align-items-center justify-content-center">
                                    <i-feather class="calender" name="calendar"></i-feather>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-table">
                <div class="tables-roles-main tables-users-main table-responsive">
                    <table class="table">
                        <thead class="thead-ctm">
                            <tr>
                                <th>
                                    <p class="inner-cell">Date<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Order Number<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Work Order<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Product Type<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Material<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">FSC Claim<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>

                                <th>
                                    <p class="inner-cell">Quantity<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>

                                <th>
                                    <p class="inner-cell">Invoice Value<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Schedule Ref<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="t-body-ctm">
                            <tr class="active-row" *ngFor="let p of purchaseOrders;let i = index">
                                <td>{{ p.date }}</td>
                                <td>{{ p.order_number }}</td>
                                <td [ngClass]="{'text-red': p.type == 'Stock'}">{{ p.type == 'Order' ? p.work_number : 'Stock' }}</td>
                                <td>{{ p.product_type }}</td>
                                <td>{{ p.material }}</td>
                                <td>{{ p.fsc_claim }}</td>
                                <td>{{ p.quantity }}</td>
                                <td>{{ p.invoice_value }}</td>
                                <td>{{ p.schedule_ref ? p.schedule_ref : '-' }}</td>


                                <td>
                                    <div class="list-icons-talbe justify-content-center">

                                        <a class=" icon-anchor-list" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-3" (click)="editPurchaseOrder(p,i)"></i-feather>
                                        </a>

                                        <a class="icon-anchor-list" href="javascript:void(0)" (click)="deletePurchaseOrder(p,i)">
                                            <i-feather class="icon-width" name="trash"></i-feather>
                                        </a>
                                    </div>
                                </td>


                            </tr>

                        </tbody>
                    </table>

                </div>
                <!-- Pagination -->
                <app-pagination [from]="pageFrom" [to]="pageTo" [pageSize]="searchParams.page_size" [totalPages]="totalPages" (changePage)="changePage($event)" (ChangePageSize)="ChangePageSize($event)"></app-pagination>
            </div>

        </div>
    </div>

</div>
