<!-- Modal Header -->
<div class="modal-header">

    <h4 class="modal-title" *ngIf="type == 'add'">ADD CUSTOMER</h4>
    <h4 class="modal-title" *ngIf="type == 'edit'">EDIT CUSTOMER</h4>

    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">

    <div class="row" *ngIf="type == 'add'">
        <div class="col-md-12">
            <div class="input-style mb-2">
                <label class="d-block">Customer<span class="text-danger">*</span></label>
                <input type="text" class="ctm-input type-input" placeholder="Name" [(ngModel)]="customer.name" name="name">
            </div>

        </div>
        <div class="col-md-12">
            <div class="input-style mb-2">
                <label class="d-block">Email<span class="text-danger">*</span></label>
                <input type="email" class="ctm-input type-input" placeholder="Ex: John@gmail.com" [(ngModel)]="customer.email" name="email">
            </div>

        </div>
        <div class="col-md-12">
            <div class="input-style ">
                <label class="d-block">Phone<span class="text-danger">*</span></label>
                <input type="text" class="ctm-input type-input" placeholder="0236 54321" [(ngModel)]="customer.phone_no" name="phone_no">
            </div>
        </div>
    </div>




    <div class="row" *ngIf="type == 'edit'">
        <div class="col-md-12">
            <div class="input-style mb-2">
                <label class="d-block">Customer<span class="text-danger">*</span></label>
                <input type="text" class="ctm-input type-input" placeholder="Name" [(ngModel)]="cus.name" name="name">
            </div>

        </div>
        <div class="col-md-12">
            <div class="input-style mb-2">
                <label class="d-block">Email<span class="text-danger">*</span></label>
                <input type="email" class="ctm-input type-input" placeholder="Ex: John@gmail.com" [(ngModel)]="cus.email" name="email">
            </div>

        </div>
        <div class="col-md-12">
            <div class="input-style mb-2">
                <label class="d-block">Phone<span class="text-danger">*</span></label>
                <input type="text" class="ctm-input type-input" placeholder="0236 54321" [(ngModel)]="cus.phone_no" name="phone_no">
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex align-items-center  check-box-rod-modal justify-content-between">
                <h3 class="fsc-text">Blacklisted</h3>
                <div class="remember-me">
                    <label class="custom-check custom-check-r">
                        <input type="checkbox" checked="checked" [(ngModel)]="cus.blacklist">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
    <div class="d-flex align-items-center justify-content-center w-100">
        <a href="javascript:void(0)" class="discard-btn" (click)="cancel()">Discard</a>
        <a href="javascript:void(0)" class="add-btn" *ngIf="type == 'add'" (click)="new()">Save</a>
        <a href="javascript:void(0)" class="add-btn" *ngIf="type == 'edit'" (click)="edit()">Update</a>
    </div>
</div>
