<nav class="navbar navbar-expand-lg navbar-light bg-light header-main">
    <button type="button" id="sidebarCollapse" class="ctm-hamer">
        <i-feather class="hover-none-icon" name="menu"></i-feather>
        <img id="img-show" class="img-men-none" src="assets/img/icon-feather-menu-1.svg" alt="img">
    </button>
    <div class="header-right">
        <!-- <a class="volume" href="javascript:void(0)">
            <i-feather name="volume-2"></i-feather>
        </a>
        <div class="upper-ctm-dropdown">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i-feather name="bell"></i-feather>
                    <div class="position-absolute dots-post"></div>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div class="drop-inner">
                        <h2 class="notification-h">NOTIFICATIONS</h2>
                        <div class="note-h">
                            <div class="inner-note-h">
                                <i-feather class="bell" name="bell"></i-feather>
                                <div class="pare-note-box">
                                    <p class="note-pare">
                                        Mike Danyle <span>changed status</span> “Booked” to “Withdraw” on Work Order WAN043-PO-000591 [Reason]
                                    </p>
                                </div>
                                <a class="view" href="javascript:void(0)">view</a>
                            </div>
                            <div class="date-time">
                                <span class="time">11:35 AM</span>
                                <span class="date">23 October, 2021</span>
                            </div>
                        </div>
                        <div class="note-h">
                            <div class="inner-note-h">
                                <i-feather class="bell" name="bell"></i-feather>
                                <div class="pare-note-box">
                                    <p class="note-pare">
                                        Mike Danyle <span>changed status</span> “Booked” to “Withdraw” on Work Order WAN043-PO-000591 [Reason]
                                    </p>
                                </div>
                                <a class="view" href="javascript:void(0)">view</a>
                            </div>
                            <div class="date-time">
                                <span class="time">11:35 AM</span>
                                <span class="date">23 October, 2021</span>
                            </div>
                        </div>
                        <div class="note-h">
                            <div class="inner-note-h">
                                <i-feather class="bell" name="bell"></i-feather>
                                <div class="pare-note-box">
                                    <p class="note-pare">
                                        Mike Danyle <span>changed status</span> “Booked” to “Withdraw” on Work Order WAN043-PO-000591 [Reason]
                                    </p>
                                </div>
                                <a class="view" href="javascript:void(0)">view</a>
                            </div>
                            <div class="date-time">
                                <span class="time">11:35 AM</span>
                                <span class="date">23 October, 2021</span>
                            </div>
                        </div>
                        <div class="note-h">
                            <div class="inner-note-h">
                                <i-feather class="bell" name="bell"></i-feather>
                                <div class="pare-note-box">
                                    <p class="note-pare">
                                        Mike Danyle <span>changed status</span> “Booked” to “Withdraw” on Work Order WAN043-PO-000591 [Reason]
                                    </p>
                                </div>
                                <a class="view" href="javascript:void(0)">view</a>
                            </div>
                            <div class="date-time">
                                <span class="time">11:35 AM</span>
                                <span class="date">23 October, 2021</span>
                            </div>
                        </div>
                        <a class="show-more" href="javascript:void(0)">SHOW MORE</a>
                    </div>

                </div>
            </div>
        </div> -->
        <div class="input-style phone-dropdown mb-0">

            <div class=" input-rigister custom-dropdown-all-us">
                <div class="dropdown drop-bottom ">
                    <button class="custom-btn dropdown-toggle dropdown-toggle-add gothic-normel p-list-place feedbackName" type="button" id="subject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <div class="img-log-out">
                            <img class="img-fluid" src="assets/img/drop-img.png" alt="img">
                        </div> {{ user.name }}
                    </button>
                    <div class="dropdown-menu contc p-0  " aria-labelledby="dropdownMenuButton">
                        <ul class="droplist">
                            <li>
                                <a class="droplist-item" [routerLink]="['/settings']">
                                    <i-feather class="settings-log-out" name="settings"></i-feather>Setting
                                </a>

                            </li>
                            <li>
                                <a class="droplist-item" href="javascript:void(0);" (click)="logout()">
                                    <i-feather class="settings-log-out" name="log-in"></i-feather>Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>
    </div>

</nav>
