
                <div class="dashboard-main mr-30">
                    <div class="dashboard-content ">
                        <div class="d-flex align-items-center mb-16 justify-content-between">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a class="breadcrumb-link " href="javascript:void(0)">Dashbord</a></li>
                                <li class=" breadcrumb-item"><a class="breadcrumb-link active" href="javascript:void(0)">Week 47</a></li>
                            </ul>
                            <div class="search-inputs d-flex">
                                <div class="input-style mr-10">

                                    <div class="type-pass">
                                        <input type="text" class="ctm-input" placeholder="From">
                                        <div class="icon-eye d-flex align-items-center justify-content-center">
                                            <i class="calender" data-feather="calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-style">

                                    <div class="type-pass">
                                        <input type="text" class="ctm-input" placeholder="To">
                                        <div class="icon-eye d-flex align-items-center justify-content-center">
                                            <i class="calender" data-feather="calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="card-dash">
                                <div class="d-flex align-items-start justify-content-between">
                                    <div>
                                        <h3 class="carder-heading">Orders In Progress</h3>
                                        <p class="p-status">Total sales</p>
                                    </div>
                                    <div class="calender-logo">
                                        <i class="calender" data-feather="calendar"></i>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end">
                                    <p class="price ">£465,654.25</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="card-dash">
                                <div class="d-flex align-items-start justify-content-between">
                                    <div>
                                        <h3 class="carder-heading">Total Order Delivered</h3>
                                        <p class="p-status">Total sales</p>
                                    </div>
                                    <div class="calender-logo">
                                        <i class="calender" data-feather="calendar"></i>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end">
                                    <p class="price orange">£465,654.25</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="card-dash">
                                <div class="d-flex align-items-start justify-content-between">
                                    <div>
                                        <h3 class="carder-heading">Predicted Workload</h3>
                                        <p class="p-status">Total sales</p>
                                    </div>
                                    <div class="calender-logo">
                                        <i class="calender" data-feather="calendar"></i>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end">
                                    <p class="price purple">£465,654.25</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="card-dash">
                                <div class="d-flex align-items-start justify-content-between">
                                    <div>
                                        <h3 class="carder-heading">Projected Profit</h3>
                                        <p class="p-status">Total sales</p>
                                    </div>
                                    <div class="calender-logo">
                                        <i class="calender" data-feather="calendar"></i>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-end">
                                    <p class="price navyblue-color">£465,654.25</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-12 box-1-card">
                            <div class="card-dash">
                                <div class="d-flex align-items-start justify-content-between">
                                    <div>
                                        <h3 class="carder-heading">Sales</h3>
                                        <p class="p-status">Total sales</p>
                                    </div>
                                    <div class="calender-logo">
                                        <i class="calender" data-feather="calendar"></i>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 box-2-card">
                            <div class="card-dash card-dash-board">
                                <div class="d-flex align-items-start justify-content-between">
                                    <div>
                                        <h3 class="carder-heading">Sales</h3>
                                        <p class="p-status">Total sales</p>
                                    </div>
                                    <div class="calender-logo">
                                        <i class="calender" data-feather="calendar"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <a class="door-hover" href="javascript:void(0)">
                                            <div class="card-door">
                                                <h4 class="door-heading">Doors</h4>
                                                <p class="door-text">£580,025.00</p>
                                            </div>
                                        </a>

                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <a class="door-hover" href="javascript:void(0)">
                                            <div class="card-door card-door-green">
                                                <h4 class="door-heading">Frames</h4>
                                                <p class="door-text">£580,025.00</p>
                                            </div>
                                        </a>

                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <a class="door-hover" href="javascript:void(0)">
                                            <div class="card-door card-door-blue">
                                                <h4 class="door-heading">Other Items</h4>
                                                <p class="door-text">£580,025.00</p>
                                            </div>
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 box-3-card">
                            <a class="hover-after" href="javascript:void(0)">
                                <div class="card-dash card-top-purple">
                                    <div class="d-flex align-items-start justify-content-between">
                                        <div>
                                            <h3 class="carder-heading">Top Grocing Customer</h3>
                                            <p class="p-status">Total sales</p>
                                        </div>
                                        <div class="calender-logo">
                                            <i class="calender" data-feather="calendar"></i>
                                        </div>

                                    </div>
                                    <div class="card-door-1">
                                        <h4 class="door-heading">Steven Harry</h4>
                                        <p class="desccard">Beaconfield School</p>
                                        <p class="door-text-pri">£580,025.00</p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-md-12">
                            <div class="card-dash">
                                <div class="d-flex align-items-start justify-content-between">
                                    <div>
                                        <h3 class="carder-heading">Status</h3>
                                        <p class="p-status">Total sales</p>
                                    </div>
                                    <div class="calender-logo">
                                        <i class="calender" data-feather="calendar"></i>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-5 col-md-12">
                            <div class="card-dash">
                                <div class="d-flex align-items-start justify-content-between">
                                    <div>
                                        <h3 class="carder-heading">Top Sales Person</h3>

                                        <ul class="list-view ">
                                            <li class="to-from">TO:<span>12/02/21</span></li>
                                            <li class="to-from">From:<span>12/31/21</span></li>
                                        </ul>
                                        <ul class="list-view">
                                            <li class="to-from">TO:<span>mm/dd/yy</span></li>
                                            <li class="to-from">From:<span>mm/dd/yy</span></li>
                                        </ul>
                                    </div>
                                    <div class="calender-logo">
                                        <i class="calender" data-feather="calendar"></i>
                                    </div>

                                </div>
                                <div class="bar-chart-ctm">
                                    <div class="bar-main bar-main-2">

                                        <a class="bar-hover" href="javascript:void(0)">
                                            <div class="on-hover-label">
                                                <p>£465,001.00</p>
                                            </div>
                                            <div class="bar-img bar-img-gray">
                                                <img src="img/bar-img.png" class="bar-img-1 img-fluid" alt="bar-img">
                                                <div class="medal">
                                                    <img class="img-fluid" src="img/medal.svg" alt="medal">
                                                </div>

                                            </div>
                                            <div class="bar-long"></div>
                                            <p class="name-bar">Adele White</p>
                                            <p class="sales-p">Sales</p>
                                        </a>
                                    </div>
                                    <div class="bar-main">

                                        <a class="bar-hover" href="javascript:void(0)">
                                            <div class="on-hover-label">
                                                <p>£465,001.00</p>
                                            </div>
                                            <div class="bar-img">
                                                <img src="img/bar-img.png" class="bar-img-1 img-fluid" alt="bar-img">
                                                <div class="medal">
                                                    <img class="img-fluid" src="img/medal.svg" alt="medal">
                                                </div>

                                            </div>
                                            <div class="bar-long"></div>
                                            <p class="name-bar">Adele White</p>
                                            <p class="sales-p">Sales</p>
                                        </a>
                                    </div>

                                    <div class="bar-main bar-main-3">

                                        <a class="bar-hover" href="javascript:void(0)">
                                            <div class="on-hover-label">
                                                <p>£465,001.00</p>
                                            </div>
                                            <div class="bar-img bar-img-brown">
                                                <img src="img/bar-img.png" class="bar-img-1 img-fluid" alt="bar-img">
                                                <div class="medal">
                                                    <img class="img-fluid" src="img/medal.svg" alt="medal">
                                                </div>

                                            </div>
                                            <div class="bar-long"></div>
                                            <p class="name-bar">Adele White</p>
                                            <p class="sales-p">Sales</p>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>