<div class="dashboard-main">
    <div class="dashboard-content ">
        <div class="d-flex align-items-center mb-16 justify-content-between mr-70">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a class="breadcrumb-link " href="javascript:void(0)">Adminstraion</a></li>
                <li class=" breadcrumb-item"><a class="breadcrumb-link " href="javascript:void(0)">Users List</a></li>
                <li class=" breadcrumb-item"><a class="breadcrumb-link active" href="javascript:void(0)">Week 47</a></li>
            </ul>
            <a class="secondary-sup" href="javascript:void(0)" (click)="addUser()">
                <i class="plus" data-feather="plus"></i> New User</a>

        </div>
        <div class="roles-main">
            <div class="form-group sear-bar-roles position-relative mb-0">
                <input type="search" class="form-control form-control-roles" placeholder="Search.." id="email">
                <i class="search-ctm" data-feather="search"></i>
            </div>
            <div class="tables-roles-main tables-users-main">
                <table class="table">
                    <thead class="thead-ctm">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="t-body-ctm" *ngIf="!isLoading">
                        <tr *ngFor="let user of users;let i=index">
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <div class="select-box">
                                    <div class="input-style form-group">
                                        <div class="arrow-design">
                                            <select class="form-control" (change)="updateRole(user,$event,i)">
                                                <option [value]="role.id" *ngFor="let role of roles" [selected]="user.role_id == role.id">{{ role.title }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="select-box">
                                    <div class="input-style form-group">
                                        <div class="arrow-design">
                                            <select class="form-control" placeholder="Change Action" (change)="userAction(user,$event,i)">
                                                <option value="select">Select</option>
                                                <option value="edit">Edit</option>
                                                <option value="delete">Delete</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="d-flex align-items-center justify-content-end mr-3 mt-2">
                <div class="d-flex rows-per">
                    <h4 class="row-heading">Rows per page:</h4>
                    <div class="center ctm-ha">
                        <select name="sources" id="sources" class="custom-select sources" placeholder="10">
                            <option value="profile">5</option>
                            <option value="word">10</option>
                            <option value="hashtag">20</option>
                            <option value="Complete">30</option>
                            <option value="Off Hold">50</option>
                        </select>
                    </div>
                </div>
                <div class="pagination-ctm d-inline-block">
                    <li class="item">
                        <a href="javascript:void(0)" class="page-arow-l"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    <ul class="my-pagination d-inline-block">

                        <li class="item">
                            <a href="javascript:void(0)" class="link">1</a>
                        </li>

                    </ul>
                    <li class="item">
                        <a href="javascript:void(0)" class="page-arow-l"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                </div>

            </div>
        </div>
    </div>

</div>
