<div class="dashboard-main">
    <div class="dashboard-content ">
        <div class="d-flex align-items-center mb-16 for-respo-devices-rod justify-content-between mr-70">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a class="breadcrumb-link " href="javascript:void(0)">ROD</a></li>

                <li class=" breadcrumb-item"><a class="breadcrumb-link active" href="javascript:void(0)">Week 47</a></li>
            </ul>

            <div class="d-flex btn-feature">
                <a class="Invoice" data-toggle="modal" data-target="#fsc-order" href="#fsc-order" href="javascript:void(0)">
                    <i-feather class="plus" name="plus"></i-feather> Invoice
                </a>
                <a class="Delivery-Note" data-toggle="modal" data-target="#status-change-3" href="#status-change-3" href="javascript:void(0)">
                    <i-feather class="plus" name="plus"></i-feather> Delivery Note
                </a>
                <a class="Schedule" data-toggle="modal" data-target="#status-change-2" href="javascript:void(0)">
                    <i-feather class="plus" name="plus"></i-feather> Schedule Ref
                </a>
            </div>
            <div class="d-flex for-respo-devices-rod-btn">
                <a class="btn-apply" data-toggle="modal" data-target="#add-sales-order" href="#add-sales-order" href="javascript:void(0)">
                    <i-feather class="plus" name="plus"></i-feather> Add Sales Order
                </a>
                <a class="credit-check" data-toggle="modal" data-target="#Download-1" href="#Download-1">
                    <i-feather class="download" name="download"></i-feather> Download Data
                </a>
            </div>


        </div>
        <div class="roles-main delivery-list-table ROD-main">
            <div class="d-flex align-items-center justify-content-between rod-fixed-btn delivery-list-main">
                <div class="d-flex for-media-setts">
                    <div class="form-group sear-bar-roles position-relative mb-0">
                        <input type="search" class="form-control form-control-roles" placeholder="Search.." id="email">
                        <i-feather class="search-ctm" name="search"></i-feather>
                    </div>

                </div>
                <div class="mr-70 d-flex">
                    <div class="center ctm-ha mr-2">
                        <select name="sources" id="sources" class="custom-select sources" placeholder="Bulk Status">
                            <option value="profile">On Hold</option>
                            <option value="word">To Factory</option>
                            <option value="hashtag">Withdraw</option>
                            <option value="Complete">Complete</option>
                            <option value="Off Hold">Off Hold</option>
                        </select>
                    </div>
                    <a class="Delivery-Note" href="javascript:void(0)">
                        <i-feather class="plus" name="check"></i-feather> Delivered
                    </a>
                </div>
            </div>
            <div class="tab-table">
                <div class="tables-roles-main tables-users-main ">
                    <table class="table">
                        <thead class="thead-ctm">
                            <tr>
                                <th>
                                    <div class="remember-me">
                                        <label class="custom-check custom-check-r">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>

                                </th>
                                <th>

                                    <p class="inner-cell">Work#<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Customer<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>

                                <th>
                                    <p class="inner-cell">Contract<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Order#<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Product<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Status<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Progress<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>


                                <th>
                                    <p class="inner-cell">FSC<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Date<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Invoice<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Delivery Note</p>
                                </th>
                                <th>Sch Ref</th>

                                <th>
                                    <p class="inner-cell">Job Notes</p>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="t-body-ctm">
                            <tr>
                                <td class="space-padds-seets"><br></td>
                                <td class="space-padds-seets"><br></td>
                                <td class="space-padds-seets"><br></td>
                                <td class="space-padds-seets"><br></td>
                                <td class="space-padds-seets"><br></td>
                                <td class="space-padds-seets"><br></td>
                                <td class="space-padds-seets"><br></td>
                                <td class="space-padds-seets"><br></td>
                                <td class="space-padds-seets"><br></td>
                                <td class="space-padds-seets"><br></td>
                                <td class="space-padds-seets"><br></td>
                                <td class="space-padds-seets"><br></td>
                                <td class="space-padds-seets"><br></td>
                                <td class="space-padds-seets"><br></td>
                                <td class="space-padds-seets"><br></td>

                            </tr>
                            <tr class="active-row">
                                <td>
                                    <div class="remember-me">
                                        <label class="custom-check custom-check-r">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p class="inner-cell">Prince Build</p>
                                </td>
                                <td>
                                    <p class="inner-cell">184</p>
                                </td>
                                <td>
                                    <p class="inner-cell">Charing Cross Hospital</p>
                                </td>
                                <td>
                                    <p class="inner-cell">A01</p>
                                </td>
                                <td>
                                    <p class="inner-cell">Frame</p>
                                </td>
                                <td>
                                    <div class="center ctm-ha ctm-users-select">
                                        <select name="sources" id="sources" class="custom-select sources" placeholder="Status">
                                            <option value="Booked">Booked</option>
                                            <option value="Factory">To Factory</option>
                                            <option value="Delivered">Delivered</option>
                                            <option value="Withdrawn">Withdrawn</option>
                                            <option value="On Hold">On Hold</option>
                                            <option value="Off Hold">Off Hold</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <p class="inner-cell">57.14</p>
                                </td>
                                <td>
                                    <p class="inner-cell">-</p>
                                </td>

                                <td>
                                    <p class="inner-cell">2021-10-29 13:44</p>

                                </td>
                                <td>
                                    <div class="list-icons-talbe-sec">
                                        <p class="text-cell">41109</p>
                                        <a class="icon-anchor-list" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>

                                </td>
                                <td>
                                    <div class="list-icons-talbe-sec">
                                        <p class="text-cell">52404</p>
                                        <a class="icon-anchor-list" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="list-icons-talbe-sec">
                                        <p class="text-cell">Gd12-19</p>
                                        <a class="icon-anchor-list" href="Dispatch-order.html">
                                            <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>
                                </td>

                                <td>
                                    <div class="view-anchor-tooltip">
                                        <a class="view-anchor " href="javascript:void(0)">
                                            View
                                        </a>
                                        <div class="tooltiptext-view">
                                            <div class="d-flex align-items-center justify-content-end">
                                                <a class="tooltip-anchor-modal" data-toggle="modal" data-target="#job-notes-madal" href="javascript:void(0)">
                                                    View More</a>

                                            </div>
                                            <div class="toop-hight">
                                                <p>This morning we welcomed Bill Liatsis and CreditIQ to our team! Watch Bill and Joe breakdown how CIQ’s advanced fintech technology</p>
                                            </div>
                                            <div class="date-tooptip-iner">
                                                9:30am |23 October, 2021
                                            </div>
                                        </div>
                                    </div>


                                </td>
                                <td>
                                    <div class="list-icons-talbe">
                                        <a class="icon-anchor-list" href="Dispatch-order.html">
                                            <i-feather class="icon-width" name="book"></i-feather>
                                        </a>
                                        <a class="icon-anchor-list" data-toggle="modal" data-target="#timeline" href="javascript:void(0)">
                                            <img src="img/line-img-gray.svg" alt="img">
                                        </a>
                                        <a class="icon-anchor-list" data-toggle="modal" data-target="#status-change" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="check"></i-feather>
                                        </a>
                                        <a class="icon-anchor-list" data-toggle="modal" data-target="#edit-sales" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-3"></i-feather>
                                        </a>




                                    </div>
                                </td>


                            </tr>
                            <tr class="active-row">
                                <td>
                                    <div class="remember-me">
                                        <label class="custom-check custom-check-r">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p class="inner-cell">Prince Build</p>
                                </td>
                                <td>
                                    <p class="inner-cell">184</p>
                                </td>
                                <td>
                                    <p class="inner-cell">Charing Cross Hospital</p>
                                </td>
                                <td>
                                    <p class="inner-cell">A01</p>
                                </td>
                                <td>
                                    <p class="inner-cell">Frame</p>
                                </td>
                                <td>
                                    <div class="center ctm-ha ctm-users-select">
                                        <select name="sources" id="sources" class="custom-select sources" placeholder="Status">
                                            <option value="Booked">Booked</option>
                                            <option value="Factory">To Factory</option>
                                            <option value="Delivered">Delivered</option>
                                            <option value="Withdrawn">Withdrawn</option>
                                            <option value="On Hold">On Hold</option>
                                            <option value="Off Hold">Off Hold</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <p class="inner-cell">57.14</p>
                                </td>
                                <td>
                                    <p class="inner-cell">-</p>
                                </td>

                                <td>
                                    <p class="inner-cell">2021-10-29 13:44</p>

                                </td>
                                <td>
                                    <div class="list-icons-talbe-sec">
                                        <p class="text-cell">41109</p>
                                        <a class="icon-anchor-list" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>

                                </td>
                                <td>
                                    <div class="list-icons-talbe-sec">
                                        <p class="text-cell red-label-text">Multiple</p>
                                        <a class="icon-anchor-list" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="list-icons-talbe-sec">
                                        <p class="text-cell">Gd12-19</p>
                                        <a class="icon-anchor-list" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>
                                </td>

                                <td>
                                    <div class="view-anchor-tooltip">
                                        <a class="view-anchor " href="javascript:void(0)">
                                            View
                                        </a>
                                        <div class="tooltiptext-view">
                                            <div class="d-flex align-items-center justify-content-end">
                                                <a class="tooltip-anchor-modal" data-toggle="modal" data-target="#job-notes-madal" href="javascript:void(0)">
                                                    View More</a>

                                            </div>
                                            <div class="toop-hight">
                                                <p>This morning we welcomed Bill Liatsis and CreditIQ to our team! Watch Bill and Joe breakdown how CIQ’s advanced fintech technology</p>
                                            </div>
                                            <div class="date-tooptip-iner">
                                                9:30am |23 October, 2021
                                            </div>
                                        </div>
                                    </div>


                                </td>
                                <td>
                                    <div class="list-icons-talbe">
                                        <a class="icon-anchor-list" data-toggle="modal" data-target="#timeline" href="javascript:void(0)">
                                            <img src="img/line-img-gray.svg" alt="img">
                                        </a>
                                        <a class="icon-anchor-list" data-toggle="modal" data-target="#status-change" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="check"></i-feather>
                                        </a>
                                        <a class="icon-anchor-list" data-toggle="modal" data-target="#edit-sales" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-3"></i-feather>
                                        </a>




                                    </div>
                                </td>


                            </tr>
                            <tr class="active-row">
                                <td>
                                    <div class="remember-me">
                                        <label class="custom-check custom-check-r">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p class="inner-cell">Prince Build</p>
                                </td>
                                <td>
                                    <p class="inner-cell">184</p>
                                </td>
                                <td>
                                    <p class="inner-cell">Charing Cross Hospital</p>
                                </td>
                                <td>
                                    <p class="inner-cell">A01</p>
                                </td>
                                <td>
                                    <p class="inner-cell">Frame</p>
                                </td>
                                <td>

                                    <div class="list-icons-talbe-sec">
                                        <p class="text-cell red-label-green">To Factory</p>
                                        <a class="icon-anchor-list" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <p class="inner-cell">57.14</p>
                                </td>
                                <td>
                                    <p class="inner-cell">-</p>
                                </td>

                                <td>
                                    <p class="inner-cell">2021-10-29 13:44</p>

                                </td>
                                <td>
                                    <div class="list-icons-talbe-sec">
                                        <p class="text-cell">41109</p>
                                        <a class="icon-anchor-list" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>

                                </td>
                                <td>
                                    <div class="list-icons-talbe-sec">
                                        <p class="text-cell red-label-text">Multiple</p>
                                        <a class="icon-anchor-list" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="list-icons-talbe-sec">
                                        <p class="text-cell">Gd12-19</p>
                                        <a class="icon-anchor-list" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>
                                </td>

                                <td>
                                    <div class="view-anchor-tooltip">
                                        <a class="view-anchor " href="javascript:void(0)">
                                            View
                                        </a>
                                        <div class="tooltiptext-view">
                                            <div class="d-flex align-items-center justify-content-end">
                                                <a class="tooltip-anchor-modal" data-toggle="modal" data-target="#job-notes-madal" href="javascript:void(0)">
                                                    View More</a>

                                            </div>
                                            <div class="toop-hight">
                                                <p>This morning we welcomed Bill Liatsis and CreditIQ to our team! Watch Bill and Joe breakdown how CIQ’s advanced fintech technology</p>
                                            </div>
                                            <div class="date-tooptip-iner">
                                                9:30am |23 October, 2021
                                            </div>
                                        </div>
                                    </div>


                                </td>
                                <td>
                                    <div class="list-icons-talbe">
                                        <a class="icon-anchor-list" data-toggle="modal" data-target="#timeline" href="javascript:void(0)">
                                            <img src="img/line-img-gray.svg" alt="img">
                                        </a>
                                        <a class="icon-anchor-list" data-toggle="modal" data-target="#status-change" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="check"></i-feather>
                                        </a>
                                        <a class="icon-anchor-list" data-toggle="modal" data-target="#edit-sales" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-3"></i-feather>
                                        </a>




                                    </div>
                                </td>


                            </tr>
                            <tr class="active-row">
                                <td>
                                    <div class="remember-me">
                                        <label class="custom-check custom-check-r">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p class="inner-cell">Prince Build</p>
                                </td>
                                <td>
                                    <p class="inner-cell">184</p>
                                </td>
                                <td>
                                    <p class="inner-cell">Charing Cross Hospital</p>
                                </td>
                                <td>
                                    <p class="inner-cell">A01</p>
                                </td>
                                <td>
                                    <p class="inner-cell">Frame</p>
                                </td>
                                <td>

                                    <div class="list-icons-talbe-sec">
                                        <p class="text-cell red-label-text">Withdrawn</p>
                                        <a class="icon-anchor-list" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <p class="inner-cell">57.14</p>
                                </td>
                                <td>
                                    <p class="inner-cell">-</p>
                                </td>

                                <td>
                                    <p class="inner-cell">2021-10-29 13:44</p>

                                </td>
                                <td>
                                    <div class="list-icons-talbe-sec">
                                        <p class="text-cell">41109</p>
                                        <a class="icon-anchor-list" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>

                                </td>
                                <td>
                                    <div class="list-icons-talbe-sec">
                                        <p class="text-cell red-label-text">Multiple</p>
                                        <a class="icon-anchor-list" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="list-icons-talbe-sec">
                                        <p class="text-cell">Gd12-19</p>
                                        <a class="icon-anchor-list" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>
                                </td>

                                <td>
                                    <div class="view-anchor-tooltip">
                                        <a class="view-anchor " href="javascript:void(0)">
                                            View
                                        </a>
                                        <div class="tooltiptext-view">
                                            <div class="d-flex align-items-center justify-content-end">
                                                <a class="tooltip-anchor-modal" data-toggle="modal" data-target="#job-notes-madal" href="javascript:void(0)">
                                                    View More</a>

                                            </div>
                                            <div class="toop-hight">
                                                <p>This morning we welcomed Bill Liatsis and CreditIQ to our team! Watch Bill and Joe breakdown how CIQ’s advanced fintech technology</p>
                                            </div>
                                            <div class="date-tooptip-iner">
                                                9:30am |23 October, 2021
                                            </div>
                                        </div>
                                    </div>


                                </td>
                                <td>
                                    <div class="list-icons-talbe">
                                        <a class="icon-anchor-list" data-toggle="modal" data-target="#timeline" href="javascript:void(0)">
                                            <img src="img/line-img-gray.svg" alt="img">
                                        </a>
                                        <a class="icon-anchor-list" data-toggle="modal" data-target="#status-change" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="check"></i-feather>
                                        </a>
                                        <a class="icon-anchor-list" data-toggle="modal" data-target="#edit-sales" href="javascript:void(0)">
                                            <i-feather class="icon-width" name="edit-3"></i-feather>
                                        </a>




                                    </div>
                                </td>


                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="d-flex align-items-center justify-content-end mr-3 mt-2">
                    <div class="d-flex rows-per">
                        <h4 class="row-heading">Rows per page:</h4>
                        <div class="center ctm-ha">
                            <select name="sources" id="sources" class="custom-select sources" placeholder="10">
                                <option value="profile">5</option>
                                <option value="word">10</option>
                                <option value="hashtag">20</option>
                                <option value="Complete">30</option>
                                <option value="Off Hold">50</option>
                            </select>
                        </div>
                    </div>
                    <div class="pagination-ctm d-inline-block">
                        <li class="item">
                            <a href="javascript:void(0)" class="page-arow-l"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                        </li>
                        <ul class="my-pagination d-inline-block">

                            <li class="item">
                                <a href="javascript:void(0)" class="link">1</a>
                            </li>

                        </ul>
                        <li class="item">
                            <a href="javascript:void(0)" class="page-arow-l"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </li>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
