<div class="dashboard-main">
    <div class="dashboard-content ">
        <div class="d-flex align-items-center mb-16 for-respo-devices-rod justify-content-between mr-70">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a class="breadcrumb-link " href="javascript:void(0)">ROD</a></li>

                <li class="breadcrumb-item"><a class="breadcrumb-link active" href="javascript:void(0)">Week {{ dateToday | date:'ww' }}</a></li>
            </ul>

            <div class="d-flex btn-feature" *ngIf="checked">
                <a class="Invoice" (click)="multipleUpdate('invoice_no')" href="javascript:void(0)">
                    <i-feather class="plus" name="plus"></i-feather> Invoice
                </a>
                <a class="Schedule" (click)="multipleUpdate('schedule_ref')" href="javascript:void(0)">
                    <i-feather class="plus" name="plus"></i-feather> Schedule Ref
                </a>
                <a class="btn-apply" (click)="addMultipleJobNote()" href="javascript:void(0)">
                    <i-feather class="plus" name="plus"></i-feather> Job Note
                </a>
            </div>
            <div class="d-flex for-respo-devices-rod-btn">
                <a class="btn-apply" (click)="addSalesOrder()" href="javascript:void(0)" *ngIf="_auth.checkPermissions('rod','write')">
                    <i-feather class="plus" name="plus"></i-feather> Add Sales Order
                </a>
                <div class="dropdown">
                    <button class="credit-check dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i-feather class="download" name="download"></i-feather> Download Data
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item cursor-pointer" (click)="downloadData('displayed')">Displayed</a>
                        <a class="dropdown-item cursor-pointer" (click)="downloadData('all')">All</a>
                    </div>
                </div>
            </div>


        </div>
        <div class="roles-main delivery-list-table ROD-main">
            <div class="d-flex align-items-center justify-content-between rod-fixed-btn delivery-list-main">
                <div class="d-flex for-media-setts">
                    <div class="form-group sear-bar-roles position-relative mb-0">
                        <input type="search" class="form-control form-control-roles" placeholder="Search.." id="email" [(ngModel)]="searchParams.search" (input)="searchRod()">
                        <i-feather class="search-ctm" name="search"></i-feather>
                    </div>

                </div>
                <div class="mr-70 d-flex">
                    <div class="select-box" *ngIf="checked">
                        <div class="form-group">
                            <div class="arrow-design">
                                <select class="form-control bulk-select-status" (change)="bulkStatusUpdate($event)">
                                    <option value="select" selected>Bulk Status</option>
                                    <option value="Booked">Booked</option>
                                    <option value="To Factory">To Factory</option>
                                    <option value="Delivered">Delivered</option>
                                    <option value="Withdrawn">Withdrawn</option>
                                    <option value="On Hold">On Hold</option>
                                    <option value="Off Hold">Off Hold</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-table">
                <div class="tables-roles-main tables-users-main ">
                    <table class="table">
                        <thead class="thead-ctm">
                            <tr>
                                <th *ngIf="_auth.checkPermissions('rod','write')">
                                    <div class="remember-me">
                                        <label class="custom-check custom-check-r">
                                            <input type="checkbox" [checked]="checkAll" [(ngModel)]="checkAll" (change)="selectAll()">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>

                                </th>
                                <th class="cursor-pointer" (click)="sortData('work_number')">
                                    <p class="inner-cell">Work# <i class="fa fa-arrow-down sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'work_number' && searchParams.sort_value == 'DESC'"></i> <i class="fa fa-arrow-up sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'work_number' && searchParams.sort_value == 'ASC'"></i></p>
                                </th>
                                <th class="cursor-pointer" (click)="sortData('customers.name')">
                                    <p class="inner-cell">Customer <i class="fa fa-arrow-down sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'customers.name' && searchParams.sort_value == 'DESC'"></i> <i class="fa fa-arrow-up sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'customers.name' && searchParams.sort_value == 'ASC'"></i></p>
                                </th>
                                <th class="cursor-pointer" (click)="sortData('contract')">
                                    <p class="inner-cell">Contract <i class="fa fa-arrow-down sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'contract' && searchParams.sort_value == 'DESC'"></i> <i class="fa fa-arrow-up sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'contract' && searchParams.sort_value == 'ASC'"></i></p>
                                </th>
                                <th class="cursor-pointer" (click)="sortData('order_number')">
                                    <p class="inner-cell">Order# <i class="fa fa-arrow-down sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'order_number' && searchParams.sort_value == 'DESC'"></i> <i class="fa fa-arrow-up sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'order_number' && searchParams.sort_value == 'ASC'"></i></p>
                                </th>
                                <th class="cursor-pointer" (click)="sortData('products.name')">
                                    <p class="inner-cell">Product <i class="fa fa-arrow-down sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'products.name' && searchParams.sort_value == 'DESC'"></i> <i class="fa fa-arrow-up sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'products.name' && searchParams.sort_value == 'ASC'"></i></p>
                                </th>
                                <th class="cursor-pointer" (click)="sortData('status')">
                                    <p class="inner-cell">Status <i class="fa fa-arrow-down sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'status' && searchParams.sort_value == 'DESC'"></i> <i class="fa fa-arrow-up sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'status' && searchParams.sort_value == 'ASC'"></i></p>
                                </th>
                                <th class="cursor-pointer" (click)="sortData('progress')">
                                    <p class="inner-cell">Progress <i class="fa fa-arrow-down sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'progress' && searchParams.sort_value == 'DESC'"></i> <i class="fa fa-arrow-up sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'progress' && searchParams.sort_value == 'ASC'"></i></p>
                                </th>
                                <th class="cursor-pointer" (click)="sortData('fsc')">
                                    <p class="inner-cell">FSC <i class="fa fa-arrow-down sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'fsc' && searchParams.sort_value == 'DESC'"></i> <i class="fa fa-arrow-up sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'fsc' && searchParams.sort_value == 'ASC'"></i></p>
                                </th>
                                <th class="cursor-pointer" (click)="sortData('invoice_no')">
                                    <p class="inner-cell">Invoice <i class="fa fa-arrow-down sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'invoice_no' && searchParams.sort_value == 'DESC'"></i> <i class="fa fa-arrow-up sorting-arrow" aria-hidden="true" *ngIf="searchParams.sort_column == 'invoice_no' && searchParams.sort_value == 'ASC'"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Delivery Note</p>
                                </th>
                                <th>
                                    <p class="inner-cell">Sch Ref</p>
                                </th>
                                <th>
                                    <p class="inner-cell">Job Notes</p>
                                </th>
                                <th>
                                    <p class="inner-cell">Actions</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="t-body-ctm">
                            <tr class="active-row" [ngClass]="{'order-withdrawn': rod.status=='Withdrawn' ||  rod.on_hold, 'order-to-factory':rod.status=='To Factory' && !rod.on_hold}" *ngFor="let rod of rods; let i = index">
                                <td *ngIf="_auth.checkPermissions('rod','write')">
                                    <div class="remember-me">
                                        <label class="custom-check custom-check-r">
                                            <input type="checkbox" [checked]="rod.checked" [(ngModel)]="rod.checked" (change)="selectOptions()">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <p class="inner-cell">{{ rod.work_number }}</p>
                                </td>
                                <td>
                                    <p class="inner-cell">{{ rod.customer.name }}</p>
                                </td>
                                <td>
                                    <p class="inner-cell">{{ rod.contract }}</p>
                                </td>
                                <td>
                                    <p class="inner-cell">{{ rod.order_number }}</p>
                                </td>
                                <td>
                                    <p class="inner-cell">{{ rod.product.name }}</p>
                                </td>
                                <td>
                                    <div class="select-box inner-cell">
                                        <div class="form-group">
                                            <div class="arrow-design">
                                                <select class="form-control" (change)="updateStatus(rod,$event,i)" [disabled]="!_auth.checkPermissions('rod','write')">
                                                    <option [selected]="rod.status == 'Booked'" [disabled]="rod.on_hold" value="Booked">Booked</option>
                                                    <option [selected]="rod.status == 'To Factory'" [disabled]="rod.on_hold" value="To Factory">To Factory</option>
                                                    <option [selected]="rod.status == 'In Factory'" [disabled]="rod.on_hold || rod.status == 'In Factory'" value="In Factory" [hidden]="rod.status != 'In Factory'">In Factory</option>
                                                    <option [selected]="rod.status == 'Withdrawn'" [disabled]="rod.on_hold" value="Withdrawn">Withdrawn</option>
                                                    <option [selected]="rod.status == 'Delivered'" [disabled]="rod.on_hold" value="Delivered">Delivered</option>
                                                    <option [selected]="rod.on_hold" value="On Hold">On Hold</option>
                                                    <option *ngIf="rod.on_hold" value="Off Hold">Off Hold</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="position-relative">
                                    <div class="progress-cell-bar"><span [style.width.%]="rod.progress"></span></div>{{ rod.progress }}%
                                </td>
                                <td>
                                    <p class="inner-cell" *ngIf="rod.fsc">
                                        <i-feather name="check"></i-feather>
                                    </p>
                                    <p class="inner-cell" *ngIf="!rod.fsc">-</p>
                                </td>
                                <td>
                                    <div class="inner-cell list-icons-talbe-sec">
                                        <input type="text" [value]="rod.invoice_no" *ngIf="rod.edit_invoice" class="edit-inline-input" autofocus (focusout)="updateInvoiceNo($event,i)" (keyup)="updateInvoiceNo($event,i)" id="edit-invoice-no-{{ i }}">
                                        <p class="icon-anchor-list" *ngIf="!rod.invoice_no && !rod.edit_invoice">- <i-feather class="icon-width" name="edit-2" (click)="editInvoiceNo(i)" *ngIf="_auth.checkPermissions('rod','write')"></i-feather>
                                        </p>
                                        <a class="icon-anchor-list" href="javascript:void(0)" *ngIf="rod.invoice_no && !rod.edit_invoice">
                                            {{ rod.invoice_no }} <i-feather class="icon-width" name="edit-2" (click)="editInvoiceNo(i)" *ngIf="_auth.checkPermissions('rod','write')"></i-feather>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="inner-cell list-icons-talbe-sec">
                                        <a class="icon-anchor-list red" *ngIf="rod.delivery_notes_count > 1" [routerLink]="['delivery-notes', rod.id]">Multiple</a>
                                        <a class="icon-anchor-list" *ngIf="rod.delivery_notes_count == 0">
                                            - <i-feather class="icon-width" name="edit-2" [routerLink]="['delivery-notes', rod.id]"></i-feather>
                                        </a>
                                        <a class="icon-anchor-list" href="javascript:void(0)" [routerLink]="['delivery-notes', rod.id]" *ngIf="rod.delivery_notes_count == 1">
                                            {{ rod.delivery_notes[0]?.ticket_no }} <i-feather class="icon-width" name="edit-2"></i-feather>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="inner-cell list-icons-talbe-sec">
                                        <input type="text" [value]="rod.schedule_ref" *ngIf="rod.edit_schedule_ref" class="edit-inline-input" autofocus (focusout)="updateScheduleRef($event,i)" (keyup)="updateScheduleRef($event,i)" id="edit-schedule-ref-{{ i }}">
                                        <p class="inner-cell icon-anchor-list" *ngIf="!rod.schedule_ref && !rod.edit_schedule_ref">- <i-feather class="icon-width" name="edit-2" (click)="editScheduleRef(i)" *ngIf="_auth.checkPermissions('rod','write')"></i-feather>
                                        </p>
                                        <a class="icon-anchor-list" href="javascript:void(0)" *ngIf="rod.schedule_ref && !rod.edit_schedule_ref">
                                            {{ rod.schedule_ref }} <i-feather class="icon-width" name="edit-2" (click)="editScheduleRef(i)" *ngIf="_auth.checkPermissions('rod','write')"></i-feather>
                                        </a>
                                    </div>
                                </td>

                                <td>
                                    <div class="inner-cell view-anchor-tooltip">
                                        <a class="icon-anchor-list" href="javascript:void(0)" *ngIf="rod.job_notes_count == '0'" (click)="addJobNote(rod.id,i)">
                                            <i-feather class="icon-width" name="plus"></i-feather>
                                        </a>
                                        <a class="view-anchor red" href="javascript:void(0)" *ngIf="rod.job_notes_count != '0'" (click)="addJobNote(rod.id,i)">
                                            View
                                        </a>
                                        <div class="tooltiptext-view" *ngIf="rod.job_notes_count != '0' && rod.latest_job_note.description">
                                            <div class="d-flex align-items-center justify-content-end">
                                                <a class="tooltip-anchor-modal" href="javascript:void(0)" (click)="addJobNote(rod.id,i)">
                                                    Add Note <i-feather class="icon-width w15" name="plus"></i-feather></a>

                                            </div>
                                            <div class="toop-hight" [innerHtml]="rod.latest_job_note.description"></div>
                                            <div class="date-tooptip-iner">
                                                {{ rod.latest_job_note.created_at | date: 'h:mm a | dd LLLL, yyyy'}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="inner-cell list-icons-talbe">
                                        <a class="icon-anchor-list" href="javascript:void(0)" [routerLink]="['delivery-notes', rod.id]">
                                            <i-feather class="icon-width" name="book"></i-feather>
                                        </a>
                                        <a class="icon-anchor-list" href="javascript:void(0)" (click)="viewTimeline(rod,i)">
                                            <i-feather class="icon-width" name="trending-up"></i-feather>
                                        </a>
                                        <a class="icon-anchor-list" href="javascript:void(0)" (click)="completeOrder(rod,i)" *ngIf="_auth.checkPermissions('rod','write')">
                                            <i-feather class="icon-width" name="check"></i-feather>
                                        </a>
                                        <a class="icon-anchor-list" href="javascript:void(0)" (click)="editSalesOrder(rod,i)" *ngIf="_auth.checkPermissions('rod','write')">
                                            <i-feather class="icon-width" name="edit-3"></i-feather>
                                        </a>
                                        <a class="icon-anchor-list" href="javascript:void(0)" (click)="deleteOrder(rod,i)" *ngIf="_auth.checkPermissions('rod','write')">
                                            <i-feather class="icon-width" name="trash"></i-feather>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <app-pagination [from]="pageFrom" [to]="pageTo" [pageSize]="searchParams.page_size" [currentPage]="searchParams.page" [totalPages]="totalPages" [total]="totalCount" (changePage)="changePage($event)" (ChangePageSize)="ChangePageSize($event)"></app-pagination>
            </div>

        </div>
    </div>

</div>
