<div class="log-in">
    <div class="d-flex">
        <div class="img-left-banner">

        </div>
        <div class="para-content">
            <h1>Humphrey & Stretton PLC</h1>
            <div class="text-box">
                <p class="text-para">is a privately owned company with over 60 years’ experience in manufacturing doors, frames, doorsets, timber screens and all associated joinery products from its’ 18,000 sq.ft premises in Hoddesdon Hertfordshire.</p>
            </div>

        </div>
        <div class="right-content">
            <div class="lost">
                <p class="lost-p"><span>Are You Lost?</span> <a target="_blank" href="https://humphreystretton.com/">Click Here</a></p>
            </div>
            <div class="img-logo">
                <img class="img-fluid" src="assets/img/logo.png" alt="logo">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="log-in-input">
                            <div class="input-style  mb-2">
                                <label class="d-block">Email<span class="text-danger">*</span></label>
                                <input type="text" class="ctm-input" placeholder="Email ID">
                            </div>
                            <div class="input-style">
                                <label class="d-block">Password<span class="text-danger">*</span></label>
                                <div class="type-pass">
                                    <input type="password" class="ctm-input" placeholder="Password">
                                    <div class="icon-eye d-flex align-items-center justify-content-center">
                                        <img src="assets/img/icon-feather-eye.svg" alt="img">
                                    </div>
                                </div>
                            </div>
                            <a class="fotgot-password" href="reset-password.html">Forgot Password?</a>
                            <div class="d-flex align-items-center justify-content-end">
                                <a href="index.html" class="login-p">Login</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
