.border-bottom {
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    padding-bottom: 5px;
}

.border-bottom>p,
.border-bottom>a {
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.icon-width {
    height: 18px;
    width: 18px;
}
