<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title">Production Schedules</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body ">

    <div class="row">
        <div class="col-md-12" *ngFor="let attach of data">
            <div class="d-flex justify-content-between border-bottom">
                <p class="d-inline-flex">{{ attach.name }}</p>
                <a [href]="attach.location" target="_blank">View</a>
            </div>
        </div>
    </div>

</div>

<!-- Modal footer -->
<div class="modal-footer ">
    <div class="d-flex align-items-center justify-content-center w-100 ">
        <a href="javascript:void(0) " class="discard-btn " (click)="cancel()">Close</a>
    </div>
</div>
