<div class="dashboard-main">
    <div class="dashboard-content ">
        <div class="d-flex align-items-center mb-16 justify-content-between mr-70">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:void(0)">PHONEBOOK</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:void(0)">Customers</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-link active" href="javascript:void(0)">Week {{ dateToday | date:'ww' }}</a></li>
            </ul>
            <div class="d-flex">
                <a class="secondary-sup" href="javascript:void(0)" (click)="addCustomer()">
                    <i-feather class="plus" name="plus"></i-feather> Add Entry
                </a>

            </div>
        </div>
        <div class="roles-main delivery-list-table">
            <div class="d-flex align-items-center justify-content-between delivery-list-main">
                <div class="d-flex for-media-setts">
                    <div class="form-group sear-bar-roles position-relative mb-0">
                        <input type="search" class="form-control form-control-roles" placeholder="Search.." id="email" (input)="searchCustomers()" [(ngModel)]="searchParams.search">
                        <i-feather class="search-ctm" name="search"></i-feather>
                    </div>

                </div>

            </div>
            <div class="tab-table">
                <div class="tables-roles-main tables-users-main table-responsive">
                    <table class="table">
                        <thead class="thead-ctm">
                            <tr>
                                <th>
                                    <p class="inner-cell">Name<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Telephone<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Email<i class="fa fa-arrow-down" aria-hidden="true"></i></p>
                                </th>
                                <th>
                                    <p class="inner-cell">Actions</p>
                                </th>

                            </tr>
                        </thead>
                        <tbody class="t-body-ctm">
                            <tr class="active-row" *ngFor="let c of customers;let i = index">
                                <td>
                                    <p class="inner-cell">{{ c.name }}</p>
                                </td>
                                <td>
                                    <p class="inner-cell">{{ c.phone_no }}</p>
                                </td>

                                <td>
                                    <p class="inner-cell">{{ c.email }}</p>
                                </td>


                                <td>
                                    <div class="list-icons-talbe d-flex justify-content-center">

                                        <a class="icon-anchor-list" href="javascript:void(0)" (click)="editCustomer(c,i)">
                                            <i-feather class="icon-width" name="edit-3"></i-feather>
                                        </a>

                                        <a class="icon-anchor-list" href="javascript:void(0)" (click)="deleteCustomer(c,i)">
                                            <i-feather class="icon-width" name="trash"></i-feather>
                                        </a>

                                    </div>
                                </td>


                            </tr>

                        </tbody>
                    </table>

                </div>
                <app-pagination [pageSize]="searchParams.page_size" [totalPages]="totalPages" (changePage)="changePage($event)" (ChangePageSize)="ChangePageSize($event)"></app-pagination>
            </div>

        </div>
    </div>

</div>
