.custom-select-work-orders {
    width: 100%;
    border: none;
    background: none;
    appearance: none;
}

.ticket-d-detail.active>.view-dis {
    visibility: hidden;
    display: block !important;
}


.dispatch-table-buttons {
    width: 40rem;
    align-items: flex-end;
    display: flex;
    justify-content: end;
}
