<div class="reset-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="img-logo mx-0">
                    <a href="javascript:void(0)">
                        <img class="img-fluid" src="assets/img/logo.png" alt="logo">
                    </a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="box-reset">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="reset-heading">Reset password</h1>
                                <p class="reset-para mb-40">Please enter email to reset password</p>
                                <div class="input-style">
                                    <label class="d-block">Email<span class="text-danger">*</span></label>
                                    <input type="text" class="ctm-input" placeholder="Email ID" [(ngModel)]="email" name="email" (input)="validateEmail()">
                                </div>
                                <span *ngIf="!validEmail" class="text text-danger">Please Enter valid email address</span>
                                <h5 class="text text-success" *ngIf="successMessage.length">{{ successMessage }}</h5>
                                <div class="d-flex align-items-center justify-content-center mt-3">
                                    <a href="javascript:void(0)" class="login-p" (click)="submitResetEmail()" [ngClass]="{'disabled': email.length==0 || !validateEmail}">Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
