<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title">ADD PURCHASE ORDER</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">

    <div class="row">

        <div class="col-md-6">
            <div class="search-inputs mb-2">
                <div class="input-style ">
                    <label class="d-block red-label"><span class="red-label">Order Number#</span> <span class="text-danger">*</span></label>
                    <input type="text" class="ctm-input type-input" placeholder="add order number" [(ngModel)]="newPurchaseOrder.order_number">
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="search-inputs mb-2">
                <div class="input-style ">
                    <label class="d-block red-label"><span class="red-label">Value</span> <span class="text-danger">*</span></label>
                    <input type="text" class="ctm-input type-input" placeholder="0" [(ngModel)]="newPurchaseOrder.value">
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="input-style mb-2">
                <div class="select-box">
                    <div class="form-group">
                        <label class="d-block"><span class="red-label">Supplier</span><span class="text-danger">*</span></label>
                        <ng-select [items]="suppliers" bindLabel="name" class="ctm-input bg-white ng-custom-select" bindValue="id" [(ngModel)]="newPurchaseOrder.supplier_id" (search)="getSuppliers($event)">
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                <p><strong>{{ item.name }} | {{ item.email }}</strong></p>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="input-style mb-2">
                <div class="select-box">
                    <div class="form-group">
                        <label for="" class="red-label"><span class="red-label">Work Number</span> </label>
                        <ng-select [items]="orders" bindLabel="work_number" class="ctm-input bg-white ng-custom-select" bindValue="id" [(ngModel)]="newPurchaseOrder.work_order_id" (search)="getOrders($event)">
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                <p><strong>{{ item.work_number }}</strong> | <strong>Order #</strong>: {{ item.order_number }}</p>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="search-inputs mb-2">
                <div class="input-style ">
                    <label class="d-block"><span class="red-label">Date</span> <span class="text-danger"></span></label>
                    <div class="type-pass">
                        <input type="date" class="ctm-input ctm-input-today-sec" placeholder="Select Date" [(ngModel)]="newPurchaseOrder.due_date">
                        <div class="icon-eye d-flex align-items-center justify-content-center">
                            <i-feather class="calender" name="calendar"></i-feather>
                        </div>
                        <div class="today-date">
                            <p class="date-m date-m-sec">Today</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="search-inputs mb-2">
                <div class="input-style ">
                    <label class="d-block red-label"><span class="red-label">Type</span> <span class="text-danger">*</span></label>
                    <input type="text" class="ctm-input type-input" placeholder="Type" [(ngModel)]="newPurchaseOrder.type">
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="search-inputs mb-2">
                <div class="input-style ">
                    <label class="d-block red-label"><span class="red-label">Note</span> <span class="text-danger">*</span></label>
                    <input type="text" class="ctm-input type-input" placeholder="Note" [(ngModel)]="newPurchaseOrder.note">
                </div>
            </div>

        </div>
    </div>



</div>

<!-- Modal footer -->
<div class="modal-footer">
    <div class="d-flex align-items-center justify-content-center w-100">
        <a href="javascript:void(0)" class="discard-btn" (click)="cancel()">Discard</a>
        <a href="javascript:void(0)" class="add-btn" (click)="addOrder()">Save</a>
    </div>
</div>
